.ShowPost .component {
    margin-top: 2em;
}

.ShowPost .component-string .headline, .ShowPost .component-string [data-custom-field-headline] {
    font-size: 2em;
    margin-bottom: 1em;
    border-bottom: thin solid black;
}
.ShowPost .component-boolean .trusted::before,
.ShowPost .component-boolean [data-custom-field-trusted]::before{
    content: 'Из надёжного источника: ';
}